# Игнорировать файлы с расширением .pyc
*.pyc

# Игнорировать директории с именем __pycache__ полностью
__pycache__/

# Игнорировать файлы с настройками IDE, такие как .vscode/
.vscode/
.idea/

# Игнорировать файлы сборки, например, файлы из папки build/
build/

# Игнорировать все файлы в папке logs/ и саму папку
logs/

venv/

WFCR_user/__pycache__/